<div id="div" style="width:60%;display: flex;justify-content: flex-end;align-items: center;">
    <label style="margin-right: 5px;">
      From : 
    </label>
    <select id="select-0" style="width: 53%;">
      <option>
        <%= from %>
      </option>
    </select>
  </div>