<div class="title">
<div class="insideTitle"></div>
<div><%= data.username %></div>
</div>
<ul class="links">
    <li id="home"><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li id="profile"><a href="#"><i class="fa fa-user"></i>Profile</a></li>
    <li id="notification"><a href="#"><i class="fa fa-bell"></i>Notification</a></li>
    <li id="logout"><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
</ul>