<div id="div" style="width:60%;display: flex;justify-content: flex-end;align-items: center;">
  <label style="margin-right: 5px;font-size: 25px;">
    من مستودع : 
  </label>
  <select id="select-0" style="width: 53%;">
    <% 
      let skipWhs = 0;
      for(let j = -1; j < info.results.length; j++){
        if(j == -1){ %>
          <option></option>
        <% } else { %>
          <option>
            <%= info.match[info.results[j]] %>
          </option>
        <% }
      } 
    %>
  </select>
</div>