<div>
    <a style="color: white;" href="/Transaction" id="goTransaction">press</a>
</div>
<div>
    <a style="color: white;" href="/Request" id="goRequest">press</a>
</div>
<div>
    <a style="color: white;" href="/Transfer" id="goChoose">press</a>
</div>
<div>
    <a style="color: white;" href="/Transfer/transfer" id="goTransfer">press</a>
</div>
<div>
    <a style="color: white;" href="/Count" id="goCount">press</a>
</div>
<div>
    <a style="color: white;" href="/Login" id="goLogin">press</a>
</div>
<div>
    <a style="color: white;" href="/Receipt" id="goReceipt">press</a>
</div>
<div>
    <a style="color: white;" href="/Return" id="goReturn">press</a>
</div>
<!-- <div style="position:absolute;left:50%;top: 50%;">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div> -->

<div class="loadWrapper">
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <span>Loading</span>
</div>