.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
}

.modal-v {
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal__content {
  opacity: 1;
  z-index: 9;
  border-radius: 4px;
  height: 40%;
  position: relative;
  width: 600px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  box-shadow: #585858;
}

.report__content {
  opacity: 1;
  z-index: 9;
  border-radius: 4px;
  height: 40%;
  position: relative;
  width: 80%;
  height: 90%;
  background: #fff;
  padding: 1em 2em;
  overflow-y: scroll;
  box-shadow: #585858;
}

.modal__close {
  color: #fff;
}

#closeDiv{
  display: flex;
  justify-content: flex-end;
  margin-bottom: -38px;
}

#close{
  font-size: 15px;
  height: 20px;
  width:20px;
  background-color:#87314e;
  border-color: #87314e;
  border-radius: 10px;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close:hover { 
  background-color:#fff;
  color:#87314e;
  border: solid;
  border-color: #87314e;
  border-width: 2px;
}