html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightDiv {
    height: 35%;
    width: 20%;
    margin-left: 20px;
    box-shadow: 0px 6px 18px 0px #585858;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFF6FF;
    text-decoration: none;
}

#rightDiv:hover {
    border: solid 2px black;
    background-color: #fff;
}

#leftDiv {
    height: 35%;
    width: 20%;
    margin-right: 20px;
    box-shadow: 0px 6px 18px 0px #585858;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDF0EA;
    text-decoration: none;
}

#leftDiv:hover {
    border: solid 2px black;
    background-color: #fff;
}